* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
body {
	background-color: #383838;
}
.hamburger {
	display: none;
}
nav p {
	display: none;
}
nav hr {
	display: none;
}
header {
	width: 100%;
	height: 50px;
	display: inline-block;
	top: 0;
	position: fixed;
	z-index: 1;
	border-bottom: 2px solid white;
	background-color: #ffffff;
}
header img {
	margin: 8px 5px 0 3%;
	float: left;
	height: 40px;
	width: auto;
}
header ul {
	float: right;
	margin-right: 3%;
	clear: none;
}
header li {
	color: #000000;
	display: inline-block;
	list-style-type: none;
	margin: 14px 5px 0 5px;
	font-size: 20px;
	font-weight: 300;
}
header a {
	color: #000000;
	text-decoration: none;
}
.landing {
	display: block;
	height: 100vh;
	width: 100%;
}
.landing img {
	display: block;
	width: 55%;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
	margin: 0 auto;
}
.left, .right {
	width: 100%;
	color: #000000;
	background-color: #ffffff;
	overflow: hidden;
	margin: 50px auto;
}
.left article p, .right article p {
	margin: 10px 20px;
	text-indent: 20px;
}
.right article ul {
	margin: 20px 30px;
	float: left;
	width: 50%;
}
.left article, .right article {
	padding: 40px;
}
.left article h2, .right article h2 {
	color: #a52d2d;
	font-weight: 700;
	font-size: 50px;
}
.left article img {
	float: right;
	padding: 0 20px;
	width: 30%;
}
.right article img {
	float: left;
	padding: 0 20px;
	width: 30%;
}
.right article h2 {
	text-align: right;
}
.mobileHR {
	display: none;
}
span em {
	font-size: 14px;
	font-weight: 300;
}
@media (max-width: 650px) {
	* {
		font-size: 16px;
	}
	.hamburger {
		display: block;
		float: left;
		cursor: pointer;
		margin: 8px 5% 0 10px;
	}
	header {
		text-align: left;
		height: 50px;
	}
	header ul {
		float: left;
		margin: 20px 0 0 0;
	}
	header li {
		margin: 25px 10px;
		display: block;
	}
	header li a {
		color: #000000;
	}
	header img {
		float: none;
		display: block;
		margin: 5px 0 0 0;
	}
	#navHamburger {
		float: right;
		margin: 5px 5% 5px 0;
		color: #000000;
	}
	nav {
		position: fixed;
		width: 60%;
		height: 100%;
		background-color: #FFFFFF;
		top: 0;
		left: 0;
		padding: 10px;
		z-index: 5;
		transform: translateX(-101%);
		transition: transform 0.6 ease;
	}
	nav.open {
		transform: translateX(0);
	}
	nav hr {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	.bar {
		display: none;
	}
	.landing img {
		width: 80%;
	}
	.left article, .right article {
		text-align: left;
		padding: 10px;
	}
	.left article img, .right article img {
		float: none;
		width: 70%;
		display: block;
		margin: 0 auto;
		padding: 20px;
	}
	.left article h2, .right article h2 {
		font-size: 24px;
		text-align: left
	}
	.left article p, .right article p {
		text-indent: 0px;
	}
	.right article ul {
		float: none;
		width: 100%;
	}
	hr {
		display: none;
	}
	.mobileHR {
		display: block;
	}
}